In [1]:
import os 
import pandas as pd 
import numpy as np

In [58]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

In [56]:
dpath = 'submission/'

ease = pd.read_csv(os.path.join(dpath, 'top_ease.csv'))
gru = pd.read_csv(os.path.join(dpath, 'top_gru4rec.csv'))

multie = pd.read_csv(os.path.join(dpath, 'top_multievae.csv'))

recvae = pd.read_csv(os.path.join(dpath, 'top_recvae.csv'))

slimm = pd.read_csv(os.path.join(dpath, 'top_slimm.csv'))

df_list = [ease, gru, multie, recvae, slimm]

In [14]:
pd.concat([ease,slimm]).drop_duplicates(subset=['user','item'],keep="first")

          user   item
0           11   4370
1           11   4886
2           11     47
3           11  40815
4           11  32587
...        ...    ...
313593  138493    318
313595  138493   4848
313597  138493  48394
313598  138493    593
313599  138493  33794

[432376 rows x 2 columns]

In [15]:
pd.concat([ease,slimm]).drop_duplicates(subset=['user','item'],keep="last")

          user   item
8           11  33004
9           11      2
14          14   4857
16          14   1073
17          14   4963
...        ...    ...
313595  138493   4848
313596  138493   1270
313597  138493  48394
313598  138493    593
313599  138493  33794

[432376 rows x 2 columns]

In [26]:
pd.concat([ease,slimm]).drop_duplicates(subset=['user','item'],keep=False)

          user   item
8           11  33004
9           11      2
14          14   4857
16          14   1073
17          14   4963
...        ...    ...
313593  138493    318
313595  138493   4848
313597  138493  48394
313598  138493    593
313599  138493  33794

[237552 rows x 2 columns]

In [31]:
((313600 * 2) - 237552) // 2

194824

In [41]:
def count_similiarity(df1, df2):
    df = pd.concat([df1,df2])
    df = df.groupby(['user','item']).size().reset_index(name='counts')
    df = df[df['counts'] > 1]
    return len(df) / len(df1) * 100

In [42]:
count_similiarity(ease,slimm)

62.125

In [60]:
from itertools import combinations

for df1, df2 in combinations(df_list, 2):
    sim = count_similiarity(df1, df2)
    print(f'{get_df_name(df1)} and {get_df_name(df2)}: {sim:.2f}%')

ease and gru: 8.45%
ease and multie: 46.14%
ease and recvae: 47.05%
ease and slimm: 62.12%
gru and multie: 9.27%
gru and recvae: 9.14%
gru and slimm: 7.99%
multie and recvae: 68.28%
multie and slimm: 41.03%
recvae and slimm: 41.76%